  
  .merienda-try {
    font-family: "Merienda", cursive;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: 1.5;
  }
  .vertical-timeline-element:last-child .vertical-timeline-element-content::after {
    display: none !important;
  }
  
  .vertical-timeline-element:last-child::before {
    display: none !important;
  }
  
  
  
  