/* Add this to App.css or a dedicated CSS file */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .merienda-try {
    font-family: "Merienda", cursive;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: 1.5;
  }
  
  